.bg__img{
    background-image: url("../../app/assets/PromotionImages.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 198px 0 122px 81px;
    h1{
       font-size: 54px;
       color: white;
    }
}

.category{
    .category__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 8px;
        position: absolute;
        top: 100%;
        left: 90px;
        
        .category__card1{
            width: 380px ;
            background-image: url("../../app/assets/product2.jpg");
            background-size:cover;
            background-position:center;
            padding: 29px 20px 0 30px ;
            .card__title{
                display: flex;
                justify-content: space-between;
                
                h1{
                   font-size: 18px; 
                }
                h2{
                    display: flex;
                    color: #40bfff;
                    font-size: 18px;
                    big{
                        align-items: end;
                    }
                }
            }
            .card__img{
                width: 200px;
                height: 200px;
                
            }
            .card__money{
                display: flex;
                justify-content: space-between;
                gap: 30px;
                
                div{
                    display: flex;
                    align-items: center;
                    h4{
                            color: #FB7181;
                        }
                    del{
                        color: #9098B1;
                        
                    }
                    
                }
                h2{
                    display: flex;
                    color: #40bfff;
                    font-size: 18px;
                    big{
                        align-items: end;
                    }
                }
            }
        }
        .category__card2{
            width: 380px ;
            background-image: url("../../app/assets/product1.png");
            background-size:cover;
            background-position:center;
            padding: 29px 20px 0 30px ;
            .card__title{
                display: flex;
                justify-content: space-between;
                
                h1{
                   font-size: 18px; 
                }
                h2{
                    display: flex;
                    color: #40bfff;
                    font-size: 18px;
                    big{
                        align-items: end;
                    }
                }
            }
            .card__img{
                width: 200px;
                height: 200px;
                
            }
            .card__money{
                display: flex;
                justify-content: space-between;
                gap: 30px;
                
                div{
                    display: flex;
                    align-items: center;
                    h4{
                            color: #FB7181;
                        }
                    del{
                        color: #9098B1;
                        
                    }
                    
                }
                h2{
                    display: flex;
                    color: #40bfff;
                    font-size: 18px;
                    big{
                        align-items: end;
                    }
                }
            }
        }
        .category__card3{
            width: 380px ;
            background-image: url("../../app/assets/product3.png");
            background-size:cover;
            background-position:center;
            padding: 29px 20px 0 30px ;
            .card__title{
                display: flex;
                justify-content: space-between;
                
                h1{
                   font-size: 18px; 
                }
                h2{
                    display: flex;
                    color: #40bfff;
                    font-size: 18px;
                    big{
                        align-items: end;
                    }
                }
            }
            .card__img{
                width: 200px;
                height: 200px;
                
            }
            .card__money{
                display: flex;
                justify-content: space-between;
                gap: 30px;
                
                div{
                    display: flex;
                    align-items: center;
                    h4{
                            color: #FB7181;
                        }
                    del{
                        color: #9098B1;
                        
                    }
                    
                }
                h2{
                    display: flex;
                    color: #40bfff;
                    font-size: 18px;
                    big{
                        align-items: end;
                    }
                }
            }
        }
    }

}
.sellers{
    margin-top: 300px;
    span{
        text-align: center;
    }

    .seller__all{
        display: flex;
        justify-content: center;
        gap: 50px;
        li{
            list-style: none;
        }
        .seller{
            .btn__lead{
                text-align: center;
                border: none;
                border-bottom: 1px solid black;
            }
           
        }
    }
}
